# --- DATABASE CONFIGURATION ---
DB_NAME=memoflow
DB_ROOT_PASSWORD=12345678
DB_LOCAL_PORT=3306

# --- BACKEND CONFIGURATION ---
BE_LOCAL_PORT=8080

# --- SPRING BOOT ENVIRONMENT VARIABLES (AUTOMATICALLY READ BY DOCKER COMPOSE) ---
SPRING_DATASOURCE_URL=jdbc:mysql://mysql:3306/memoflow?createDatabaseIfNotExist=true&useSSL=false&allowPublicKeyRetrieval=true
SPRING_DATASOURCE_USERNAME=root
SPRING_DATASOURCE_PASSWORD=12345678

# Database seeding configuration:
# - Set to 'always' on the first run to initialize the database with data.sql
# - Set to 'never' on subsequent runs to prevent re-seeding / overriding data
SPRING_SQL_INIT_MODE=always

# --- WORD2VEC MODEL CONFIGURATION ---
# Path to the directory on your host machine containing the model file (relative to docker-compose.yml)
LOCAL_MODEL_DIR=./models
# Path that the Spring Boot app inside Docker will use to load the model (mounted volume)
WORD2VEC_MODEL_PATH=file:/app/models/GoogleNews-vectors-negative300-SLIM.bin

# --- FRONTEND ADMIN CONFIGURATION ---
FE_ADMIN_LOCAL_PORT=8081
VITE_API_URL=http://localhost:8080
